PORT=4000
NODE_ENV=development
APP_NAME=Beauty Accessories System
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=12255
DB_NAME=beauty_accessories_system
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d

